-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: nextori_db_V2
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attente_fonctionnalite`
--

DROP TABLE IF EXISTS `attente_fonctionnalite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attente_fonctionnalite` (
  `id_attente` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `fonctionnalite` varchar(100) NOT NULL,
  `date_inscription` datetime DEFAULT current_timestamp(),
  `statut` enum('en_attente','notifie') DEFAULT 'en_attente',
  `date_notification` datetime DEFAULT NULL,
  PRIMARY KEY (`id_attente`),
  UNIQUE KEY `unique_attente_fonctionnalite` (`id_user`,`fonctionnalite`),
  CONSTRAINT `fk_attente_fonctionnalite_user` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attente_fonctionnalite`
--

LOCK TABLES `attente_fonctionnalite` WRITE;
/*!40000 ALTER TABLE `attente_fonctionnalite` DISABLE KEYS */;
INSERT INTO `attente_fonctionnalite` VALUES (1,19,'COACHING_PERSONNALISE','2026-09-03 15:24:31','en_attente',NULL),(2,21,'COACHING_PERSONNALISE','2026-09-09 18:23:21','en_attente',NULL);
/*!40000 ALTER TABLE `attente_fonctionnalite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `avis`
--

DROP TABLE IF EXISTS `avis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `avis` (
  `id_avis` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `note` tinyint(4) NOT NULL,
  `commentaire` text NOT NULL,
  `afficher` tinyint(1) DEFAULT 0,
  `approuve` tinyint(1) DEFAULT 0,
  `date_creation` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id_avis`),
  KEY `fk_avis_user` (`id_user`),
  CONSTRAINT `fk_avis_user` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avis`
--

LOCK TABLES `avis` WRITE;
/*!40000 ALTER TABLE `avis` DISABLE KEYS */;
INSERT INTO `avis` VALUES (1,19,4,'NextOri c le meilleur',1,1,'2026-09-09 16:01:45'),(2,19,5,'bhdghbyb',0,0,'2026-09-09 16:03:39'),(3,19,1,'jfdfhj',1,0,'2026-09-09 16:08:38'),(4,19,3,'dd',1,0,'2026-09-09 16:20:08'),(5,19,3,'Nextori c le meilleur',1,0,'2026-09-09 16:47:17'),(6,19,3,'Nextori',1,0,'2026-09-09 17:01:39'),(7,19,5,'C est une excellente appli',1,1,'2026-09-09 18:01:21'),(8,19,4,'fcftyuughuby',1,0,'2026-09-09 18:20:20'),(9,19,4,'Nextori c\'est le meilleur',1,1,'2026-09-10 09:05:36');
/*!40000 ALTER TABLE `avis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `badge`
--

DROP TABLE IF EXISTS `badge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `badge` (
  `id_badge` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `nom` varchar(100) NOT NULL,
  `icone` varchar(100) NOT NULL,
  `description` varchar(255) NOT NULL,
  `points` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id_badge`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badge`
--

LOCK TABLES `badge` WRITE;
/*!40000 ALTER TABLE `badge` DISABLE KEYS */;
/*!40000 ALTER TABLE `badge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `badge_utilisateur`
--

DROP TABLE IF EXISTS `badge_utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `badge_utilisateur` (
  `id_badge_utilisateur` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `id_badge` int(11) NOT NULL,
  `date_obtention` date NOT NULL,
  PRIMARY KEY (`id_badge_utilisateur`),
  UNIQUE KEY `uq_badge_utilisateur` (`id_user`,`id_badge`),
  KEY `fk_badge_utilisateur_badge` (`id_badge`),
  CONSTRAINT `fk_badge_utilisateur_badge` FOREIGN KEY (`id_badge`) REFERENCES `badge` (`id_badge`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_badge_utilisateur_user` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1459 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badge_utilisateur`
--

LOCK TABLES `badge_utilisateur` WRITE;
/*!40000 ALTER TABLE `badge_utilisateur` DISABLE KEYS */;
INSERT INTO `badge_utilisateur` VALUES (1,19,1,'2026-09-02'),(3,19,2,'2026-09-02'),(4,19,3,'2026-09-02'),(5,19,4,'2026-09-02'),(6,19,5,'2026-09-02'),(7,19,6,'2026-09-02'),(8,19,7,'2026-09-02'),(80,19,8,'2026-09-02'),(81,19,9,'2026-09-02'),(82,19,10,'2026-09-02'),(1043,19,11,'2026-09-09'),(1219,21,2,'2026-09-09');
/*!40000 ALTER TABLE `badge_utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `connexion_utilisateur`
--

DROP TABLE IF EXISTS `connexion_utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `connexion_utilisateur` (
  `id_connexion` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `date_connexion` date NOT NULL,
  PRIMARY KEY (`id_connexion`),
  UNIQUE KEY `uq_connexion_utilisateur` (`id_user`,`date_connexion`),
  CONSTRAINT `fk_connexion_utilisateur` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=254 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `connexion_utilisateur`
--

LOCK TABLES `connexion_utilisateur` WRITE;
/*!40000 ALTER TABLE `connexion_utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `connexion_utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `favori`
--

DROP TABLE IF EXISTS `favori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favori` (
  `id_favori` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `id_metier` int(11) NOT NULL,
  `date_ajout` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_favori`),
  UNIQUE KEY `uk_favori` (`id_user`,`id_metier`),
  KEY `fk_favori_metier` (`id_metier`),
  CONSTRAINT `fk_favori_metier` FOREIGN KEY (`id_metier`) REFERENCES `metier` (`id_metier`) ON DELETE CASCADE,
  CONSTRAINT `fk_favori_user` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favori`
--

LOCK TABLES `favori` WRITE;
/*!40000 ALTER TABLE `favori` DISABLE KEYS */;
/*!40000 ALTER TABLE `favori` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filiere`
--

DROP TABLE IF EXISTS `filiere`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filiere` (
  `id_filiere` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) NOT NULL,
  `description` text NOT NULL,
  `presentation` text DEFAULT NULL,
  `domaine` varchar(100) NOT NULL,
  `duree` varchar(50) NOT NULL,
  `competences_developpees` text DEFAULT NULL,
  PRIMARY KEY (`id_filiere`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=323 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filiere`
--

LOCK TABLES `filiere` WRITE;
/*!40000 ALTER TABLE `filiere` DISABLE KEYS */;
/*!40000 ALTER TABLE `filiere` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `filiere_critere`
--

DROP TABLE IF EXISTS `filiere_critere`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `filiere_critere` (
  `id_filiere_critere` int(11) NOT NULL AUTO_INCREMENT,
  `id_filiere` int(11) NOT NULL,
  `id_critere` int(11) NOT NULL,
  `valeur` decimal(4,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id_filiere_critere`),
  UNIQUE KEY `uk_filiere_critere` (`id_filiere`,`id_critere`),
  KEY `fk_filiere_critere_critere` (`id_critere`),
  CONSTRAINT `fk_filiere_critere_critere` FOREIGN KEY (`id_critere`) REFERENCES `hesitation_critere` (`id_critere`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_filiere_critere_filiere` FOREIGN KEY (`id_filiere`) REFERENCES `filiere` (`id_filiere`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3706 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `filiere_critere`
--

LOCK TABLES `filiere_critere` WRITE;
/*!40000 ALTER TABLE `filiere_critere` DISABLE KEYS */;
/*!40000 ALTER TABLE `filiere_critere` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hesitation_critere`
--

DROP TABLE IF EXISTS `hesitation_critere`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hesitation_critere` (
  `id_critere` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `nom` varchar(150) NOT NULL,
  `categorie` enum('attirance','force','attente','decision') NOT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id_critere`),
  UNIQUE KEY `uk_hesitation_critere_code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hesitation_critere`
--

LOCK TABLES `hesitation_critere` WRITE;
/*!40000 ALTER TABLE `hesitation_critere` DISABLE KEYS */;
/*!40000 ALTER TABLE `hesitation_critere` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hesitation_option`
--

DROP TABLE IF EXISTS `hesitation_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hesitation_option` (
  `id_hesitation_option` int(11) NOT NULL AUTO_INCREMENT,
  `id_hesitation_test` int(11) NOT NULL,
  `id_metier` int(11) DEFAULT NULL,
  `id_filiere` int(11) DEFAULT NULL,
  `ordre` int(11) NOT NULL,
  PRIMARY KEY (`id_hesitation_option`),
  KEY `fk_hesitation_option_test` (`id_hesitation_test`),
  KEY `fk_hesitation_option_metier` (`id_metier`),
  KEY `fk_hesitation_option_filiere` (`id_filiere`),
  CONSTRAINT `fk_hesitation_option_filiere` FOREIGN KEY (`id_filiere`) REFERENCES `filiere` (`id_filiere`) ON DELETE CASCADE,
  CONSTRAINT `fk_hesitation_option_metier` FOREIGN KEY (`id_metier`) REFERENCES `metier` (`id_metier`) ON DELETE CASCADE,
  CONSTRAINT `fk_hesitation_option_test` FOREIGN KEY (`id_hesitation_test`) REFERENCES `hesitation_test` (`id_hesitation_test`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hesitation_option`
--

LOCK TABLES `hesitation_option` WRITE;
/*!40000 ALTER TABLE `hesitation_option` DISABLE KEYS */;
/*!40000 ALTER TABLE `hesitation_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hesitation_question`
--

DROP TABLE IF EXISTS `hesitation_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hesitation_question` (
  `id_question` int(11) NOT NULL AUTO_INCREMENT,
  `question` text NOT NULL,
  `ordre` int(11) NOT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id_question`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hesitation_question`
--

LOCK TABLES `hesitation_question` WRITE;
/*!40000 ALTER TABLE `hesitation_question` DISABLE KEYS */;
INSERT INTO `hesitation_question` VALUES (1,'Quand tu penses aux options que tu h├®sites ├á choisir, quÔÇÖest-ce qui tÔÇÖattire le plus ?',1,1),(2,'Dans quelle situation te sens-tu g├®n├®ralement le plus ├á lÔÇÖaise ?',2,1),(3,'QuÔÇÖest-ce qui rend ton choix le plus difficile aujourdÔÇÖhui ?',3,1),(4,'Si tu devais aujourdÔÇÖhui donner le plus de poids ├á un seul crit├¿re, lequel serait-ce ?',4,1),(5,'QuÔÇÖest-ce qui tÔÇÖaiderait le plus ├á avancer vers une d├®cision ?',5,1);
/*!40000 ALTER TABLE `hesitation_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hesitation_reponse`
--

DROP TABLE IF EXISTS `hesitation_reponse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hesitation_reponse` (
  `id_reponse` int(11) NOT NULL AUTO_INCREMENT,
  `id_question` int(11) NOT NULL,
  `texte` text NOT NULL,
  `code` varchar(50) NOT NULL,
  `ordre` int(11) NOT NULL,
  PRIMARY KEY (`id_reponse`),
  KEY `fk_hesitation_reponse_question` (`id_question`),
  CONSTRAINT `fk_hesitation_reponse_question` FOREIGN KEY (`id_question`) REFERENCES `hesitation_question` (`id_question`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hesitation_reponse`
--

LOCK TABLES `hesitation_reponse` WRITE;
/*!40000 ALTER TABLE `hesitation_reponse` DISABLE KEYS */;
/*!40000 ALTER TABLE `hesitation_reponse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hesitation_reponse_utilisateur`
--

DROP TABLE IF EXISTS `hesitation_reponse_utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hesitation_reponse_utilisateur` (
  `id_reponse_utilisateur` int(11) NOT NULL AUTO_INCREMENT,
  `id_hesitation_test` int(11) NOT NULL,
  `id_question` int(11) NOT NULL,
  `id_reponse` int(11) NOT NULL,
  PRIMARY KEY (`id_reponse_utilisateur`),
  UNIQUE KEY `id_hesitation_test` (`id_hesitation_test`,`id_question`),
  KEY `fk_hesitation_ru_question` (`id_question`),
  KEY `fk_hesitation_ru_reponse` (`id_reponse`),
  CONSTRAINT `fk_hesitation_ru_question` FOREIGN KEY (`id_question`) REFERENCES `hesitation_question` (`id_question`) ON DELETE CASCADE,
  CONSTRAINT `fk_hesitation_ru_reponse` FOREIGN KEY (`id_reponse`) REFERENCES `hesitation_reponse` (`id_reponse`) ON DELETE CASCADE,
  CONSTRAINT `fk_hesitation_ru_test` FOREIGN KEY (`id_hesitation_test`) REFERENCES `hesitation_test` (`id_hesitation_test`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hesitation_reponse_utilisateur`
--

LOCK TABLES `hesitation_reponse_utilisateur` WRITE;
/*!40000 ALTER TABLE `hesitation_reponse_utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `hesitation_reponse_utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hesitation_test`
--

DROP TABLE IF EXISTS `hesitation_test`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hesitation_test` (
  `id_hesitation_test` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `type_choix` enum('metier','filiere') NOT NULL,
  `date_creation` datetime NOT NULL DEFAULT current_timestamp(),
  `statut` enum('en_cours','termine') NOT NULL DEFAULT 'en_cours',
  PRIMARY KEY (`id_hesitation_test`),
  KEY `fk_hesitation_test_user` (`id_user`),
  CONSTRAINT `fk_hesitation_test_user` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hesitation_test`
--

LOCK TABLES `hesitation_test` WRITE;
/*!40000 ALTER TABLE `hesitation_test` DISABLE KEYS */;
/*!40000 ALTER TABLE `hesitation_test` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique`
--

DROP TABLE IF EXISTS `historique`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historique` (
  `id_historique` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `action` varchar(255) NOT NULL,
  `date_action` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_historique`),
  KEY `fk_historique_user` (`id_user`),
  CONSTRAINT `fk_historique_user` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=392 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique`
--

LOCK TABLES `historique` WRITE;
/*!40000 ALTER TABLE `historique` DISABLE KEYS */;
/*!40000 ALTER TABLE `historique` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metier`
--

DROP TABLE IF EXISTS `metier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `metier` (
  `id_metier` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(150) NOT NULL,
  `description` text NOT NULL,
  `presentation` text DEFAULT NULL,
  `competences` text DEFAULT NULL,
  `secteur` varchar(100) NOT NULL,
  `niveau_etude` varchar(100) NOT NULL,
  `salaire_min` decimal(12,2) DEFAULT NULL,
  `salaire_max` decimal(12,2) DEFAULT NULL,
  `profil_riasec` varchar(3) NOT NULL,
  `tendance` varchar(100) DEFAULT NULL,
  `accessible_test` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id_metier`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=176 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metier`
--

LOCK TABLES `metier` WRITE;
/*!40000 ALTER TABLE `metier` DISABLE KEYS */;
/*!40000 ALTER TABLE `metier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metier_critere`
--

DROP TABLE IF EXISTS `metier_critere`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `metier_critere` (
  `id_metier_critere` int(11) NOT NULL AUTO_INCREMENT,
  `id_metier` int(11) NOT NULL,
  `id_critere` int(11) NOT NULL,
  `valeur` decimal(4,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id_metier_critere`),
  UNIQUE KEY `uk_metier_critere` (`id_metier`,`id_critere`),
  KEY `fk_metier_critere_critere` (`id_critere`),
  CONSTRAINT `fk_metier_critere_critere` FOREIGN KEY (`id_critere`) REFERENCES `hesitation_critere` (`id_critere`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_metier_critere_metier` FOREIGN KEY (`id_metier`) REFERENCES `metier` (`id_metier`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2081 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metier_critere`
--

LOCK TABLES `metier_critere` WRITE;
/*!40000 ALTER TABLE `metier_critere` DISABLE KEYS */;
/*!40000 ALTER TABLE `metier_critere` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metier_filiere`
--

DROP TABLE IF EXISTS `metier_filiere`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `metier_filiere` (
  `id_metier` int(11) NOT NULL,
  `id_filiere` int(11) NOT NULL,
  PRIMARY KEY (`id_metier`,`id_filiere`),
  KEY `fk_metier_filiere_filiere` (`id_filiere`),
  CONSTRAINT `fk_metier_filiere_filiere` FOREIGN KEY (`id_filiere`) REFERENCES `filiere` (`id_filiere`) ON DELETE CASCADE,
  CONSTRAINT `fk_metier_filiere_metier` FOREIGN KEY (`id_metier`) REFERENCES `metier` (`id_metier`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metier_filiere`
--

LOCK TABLES `metier_filiere` WRITE;
/*!40000 ALTER TABLE `metier_filiere` DISABLE KEYS */;
/*!40000 ALTER TABLE `metier_filiere` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metier_filiere_backup_20260909`
--

DROP TABLE IF EXISTS `metier_filiere_backup_20260909`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `metier_filiere_backup_20260909` (
  `id_metier` int(11) NOT NULL,
  `id_filiere` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metier_filiere_backup_20260909`
--

LOCK TABLES `metier_filiere_backup_20260909` WRITE;
/*!40000 ALTER TABLE `metier_filiere_backup_20260909` DISABLE KEYS */;
/*!40000 ALTER TABLE `metier_filiere_backup_20260909` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metier_serie`
--

DROP TABLE IF EXISTS `metier_serie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `metier_serie` (
  `id_metier` int(11) NOT NULL,
  `id_serie` int(11) NOT NULL,
  `niveau_compatibilite` enum('directe','possible') DEFAULT 'directe',
  PRIMARY KEY (`id_metier`,`id_serie`),
  KEY `id_serie` (`id_serie`),
  CONSTRAINT `metier_serie_ibfk_1` FOREIGN KEY (`id_metier`) REFERENCES `metier` (`id_metier`),
  CONSTRAINT `metier_serie_ibfk_2` FOREIGN KEY (`id_serie`) REFERENCES `serie` (`id_serie`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metier_serie`
--

LOCK TABLES `metier_serie` WRITE;
/*!40000 ALTER TABLE `metier_serie` DISABLE KEYS */;
/*!40000 ALTER TABLE `metier_serie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proposition`
--

DROP TABLE IF EXISTS `proposition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proposition` (
  `id_proposition` int(11) NOT NULL AUTO_INCREMENT,
  `id_question` int(11) NOT NULL,
  `lettre` enum('A','B','C','D','E','F') NOT NULL,
  `libelle` varchar(255) NOT NULL,
  `type_riasec` enum('R','I','A','S','E','C') NOT NULL,
  PRIMARY KEY (`id_proposition`),
  KEY `fk_proposition_question` (`id_question`),
  CONSTRAINT `fk_proposition_question` FOREIGN KEY (`id_question`) REFERENCES `question` (`id_question`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=121 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proposition`
--

LOCK TABLES `proposition` WRITE;
/*!40000 ALTER TABLE `proposition` DISABLE KEYS */;
/*!40000 ALTER TABLE `proposition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question`
--

DROP TABLE IF EXISTS `question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `question` (
  `id_question` int(11) NOT NULL AUTO_INCREMENT,
  `id_questionnaire` int(11) NOT NULL,
  `texte` text NOT NULL,
  `ordre` int(11) NOT NULL,
  PRIMARY KEY (`id_question`),
  KEY `fk_question_questionnaire` (`id_questionnaire`),
  CONSTRAINT `fk_question_questionnaire` FOREIGN KEY (`id_questionnaire`) REFERENCES `questionnaire` (`id_questionnaire`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question`
--

LOCK TABLES `question` WRITE;
/*!40000 ALTER TABLE `question` DISABLE KEYS */;
/*!40000 ALTER TABLE `question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questionnaire`
--

DROP TABLE IF EXISTS `questionnaire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `questionnaire` (
  `id_questionnaire` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `version` varchar(20) NOT NULL,
  `actif` tinyint(1) NOT NULL DEFAULT 1,
  `date_creation` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_questionnaire`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questionnaire`
--

LOCK TABLES `questionnaire` WRITE;
/*!40000 ALTER TABLE `questionnaire` DISABLE KEYS */;
INSERT INTO `questionnaire` VALUES (1,'Test RIASEC Standard','Questionnaire d\'orientation professionnelle bas├® sur la th├®orie de John Holland et adapt├® au contexte africain.','1.0',1,'2026-07-23 12:51:37');
/*!40000 ALTER TABLE `questionnaire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recommandation`
--

DROP TABLE IF EXISTS `recommandation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recommandation` (
  `id_recommandation` int(11) NOT NULL AUTO_INCREMENT,
  `id_test` int(11) NOT NULL,
  `id_metier` int(11) NOT NULL,
  `compatibilite` decimal(5,2) NOT NULL,
  `type` enum('top','secondaire') NOT NULL,
  `date_recommandation` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_recommandation`),
  KEY `fk_recommandation_test` (`id_test`),
  KEY `fk_recommandation_metier` (`id_metier`),
  CONSTRAINT `fk_recommandation_metier` FOREIGN KEY (`id_metier`) REFERENCES `metier` (`id_metier`) ON DELETE CASCADE,
  CONSTRAINT `fk_recommandation_test` FOREIGN KEY (`id_test`) REFERENCES `test_riasec` (`id_test`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recommandation`
--

LOCK TABLES `recommandation` WRITE;
/*!40000 ALTER TABLE `recommandation` DISABLE KEYS */;
/*!40000 ALTER TABLE `recommandation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reponse`
--

DROP TABLE IF EXISTS `reponse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reponse` (
  `id_reponse` int(11) NOT NULL AUTO_INCREMENT,
  `id_test` int(11) NOT NULL,
  `id_proposition` int(11) NOT NULL,
  PRIMARY KEY (`id_reponse`),
  UNIQUE KEY `uk_reponse` (`id_test`,`id_proposition`),
  KEY `fk_reponse_proposition` (`id_proposition`),
  CONSTRAINT `fk_reponse_proposition` FOREIGN KEY (`id_proposition`) REFERENCES `proposition` (`id_proposition`) ON DELETE CASCADE,
  CONSTRAINT `fk_reponse_test` FOREIGN KEY (`id_test`) REFERENCES `test_riasec` (`id_test`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=881 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reponse`
--

LOCK TABLES `reponse` WRITE;
/*!40000 ALTER TABLE `reponse` DISABLE KEYS */;
/*!40000 ALTER TABLE `reponse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `serie`
--

DROP TABLE IF EXISTS `serie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `serie` (
  `id_serie` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  PRIMARY KEY (`id_serie`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `serie`
--

LOCK TABLES `serie` WRITE;
/*!40000 ALTER TABLE `serie` DISABLE KEYS */;
INSERT INTO `serie` VALUES (1,'Scientifique','S├®rie orient├®e vers les sciences, les math├®matiques et les disciplines scientifiques.'),(2,'Litt├®raire','S├®rie orient├®e vers les lettres, les langues, les sciences humaines et les disciplines litt├®raires.'),(3,'├ëconomique et gestion','S├®rie orient├®e vers lÔÇÖ├®conomie, la gestion, le commerce et les disciplines associ├®es.'),(4,'Technique','S├®rie orient├®e vers les sciences et techniques appliqu├®es.'),(5,'Autre','Autre parcours ou s├®rie scolaire.');
/*!40000 ALTER TABLE `serie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test_riasec`
--

DROP TABLE IF EXISTS `test_riasec`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `test_riasec` (
  `id_test` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `id_questionnaire` int(11) NOT NULL,
  `date_test` datetime NOT NULL DEFAULT current_timestamp(),
  `score_R` int(11) NOT NULL DEFAULT 0,
  `score_I` int(11) NOT NULL DEFAULT 0,
  `score_A` int(11) NOT NULL DEFAULT 0,
  `score_S` int(11) NOT NULL DEFAULT 0,
  `score_E` int(11) NOT NULL DEFAULT 0,
  `score_C` int(11) NOT NULL DEFAULT 0,
  `profil_dominant` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id_test`),
  KEY `fk_test_user` (`id_user`),
  KEY `fk_test_questionnaire` (`id_questionnaire`),
  CONSTRAINT `fk_test_questionnaire` FOREIGN KEY (`id_questionnaire`) REFERENCES `questionnaire` (`id_questionnaire`) ON UPDATE CASCADE,
  CONSTRAINT `fk_test_user` FOREIGN KEY (`id_user`) REFERENCES `utilisateur` (`id_user`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test_riasec`
--

LOCK TABLES `test_riasec` WRITE;
/*!40000 ALTER TABLE `test_riasec` DISABLE KEYS */;
/*!40000 ALTER TABLE `test_riasec` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `universite`
--

DROP TABLE IF EXISTS `universite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `universite` (
  `id_universite` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(200) NOT NULL,
  `description` text NOT NULL,
  `type` enum('publique','privee','parapublique') NOT NULL,
  `pays` varchar(100) NOT NULL,
  `ville` varchar(100) NOT NULL,
  `region` varchar(100) DEFAULT NULL,
  `adresse` varchar(255) DEFAULT NULL,
  `telephone` varchar(100) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `site_web` varchar(255) DEFAULT NULL,
  `logo` text DEFAULT NULL,
  PRIMARY KEY (`id_universite`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `universite`
--

LOCK TABLES `universite` WRITE;
/*!40000 ALTER TABLE `universite` DISABLE KEYS */;
/*!40000 ALTER TABLE `universite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `universite_detail`
--

DROP TABLE IF EXISTS `universite_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `universite_detail` (
  `id_detail` int(11) NOT NULL AUTO_INCREMENT,
  `id_universite` int(11) NOT NULL,
  `presentation` text DEFAULT NULL,
  `conditions_admission` text DEFAULT NULL,
  `bourses` text DEFAULT NULL,
  PRIMARY KEY (`id_detail`),
  KEY `id_universite` (`id_universite`),
  CONSTRAINT `universite_detail_ibfk_1` FOREIGN KEY (`id_universite`) REFERENCES `universite` (`id_universite`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `universite_detail`
--

LOCK TABLES `universite_detail` WRITE;
/*!40000 ALTER TABLE `universite_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `universite_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `universite_filiere`
--

DROP TABLE IF EXISTS `universite_filiere`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `universite_filiere` (
  `id_universite` int(11) NOT NULL,
  `id_filiere` int(11) NOT NULL,
  PRIMARY KEY (`id_universite`,`id_filiere`),
  KEY `fk_universite_filiere_filiere` (`id_filiere`),
  CONSTRAINT `fk_universite_filiere_filiere` FOREIGN KEY (`id_filiere`) REFERENCES `filiere` (`id_filiere`) ON DELETE CASCADE,
  CONSTRAINT `fk_universite_filiere_universite` FOREIGN KEY (`id_universite`) REFERENCES `universite` (`id_universite`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `universite_filiere`
--

LOCK TABLES `universite_filiere` WRITE;
/*!40000 ALTER TABLE `universite_filiere` DISABLE KEYS */;
/*!40000 ALTER TABLE `universite_filiere` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateur` (
  `id_user` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `email` varchar(150) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `pays` varchar(100) NOT NULL,
  `niveau_etude` varchar(100) NOT NULL,
  `id_serie` int(11) DEFAULT NULL,
  `date_creation` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_utilisateur_serie` (`id_serie`),
  CONSTRAINT `fk_utilisateur_serie` FOREIGN KEY (`id_serie`) REFERENCES `serie` (`id_serie`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'nextori_db_V2'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-10 15:23:37
